<!--
<app-test></app-test> 
<app-test2></app-test2>
<app-login></app-login>

<app-registration></app-registration>
<app-showempbyid></app-showempbyid>
<app-showemployees></app-showemployees>
<app-product></app-product>
<app-logout></app-logout>
-->

<app-header></app-header>
<!-- <marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee> -->
<router-outlet></router-outlet>




