<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Registration</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .container h2 {
      text-align: center;
    }

    .form-container label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-container input[type="text"],
    .form-container input[type="number"],
    .form-container input[type="email"],
    .form-container input[type="password"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
    }

    .form-container button[type="submit"] {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #4CAF50;
      color: white;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .form-container button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Employee Registration</h2>
  <form class="form-container" (ngSubmit)="register()">
    <div>
      <label for="empName">Employee Name</label>
      <input type="text" id="empName" name="empName" [(ngModel)]="empName" required>
    </div>
    <div>
      <label for="salary">Salary</label>
      <input type="number" id="salary" name="salary" [(ngModel)]="salary" required>
    </div>
    <div>
      <label for="gender">Gender</label>
      <input type="text" id="gender" name="gender" [(ngModel)]="gender" required>
    </div>
    <div>
      <label for="doj">Date of Joining</label>
      <input type="text" id="doj" name="doj" [(ngModel)]="doj" required>
    </div>
    <div>
      <label for="country">Country</label>
      <input type="text" id="country" name="country" [(ngModel)]="country" required>
    </div>
    <div>
      <label for="emailId">Email ID</label>
      <input type="email" id="emailId" name="emailId" [(ngModel)]="emailId" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
      <label for="deptId">Department ID</label>
      <input type="number" id="deptId" name="deptId" [(ngModel)]="deptId" required>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
</body>
</html> -->




<h1 align="center" style="color: red;">Employee Registration</h1> <br/>

<div class="container">
    <form #regForm="ngForm" (ngSubmit)="empRegistration(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>EmpName</td>
                    <td><input type="text" name="empName" ngModel /> </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" name="salary" ngModel /> </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="gender" ngModel>
                            <option value="" selected>Select Gender</option>
                            <option value="Male"  >Male  </option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td>Mobile Number</td>
                  <td>
                      <input type="text" name="mobileNumber" ngModel required pattern="^[6-9]\d{9}$" />
                      <div class="error-message" *ngIf="regForm.controls['mobileNumber'].invalid && (regForm.controls['mobileNumber'].dirty || regForm.controls['mobileNumber'].touched)">
                          <div *ngIf="regForm.controls['mobileNumber'].errors?.['required']" style="color: red;">Mobile Number is required.</div>
                          <div *ngIf="regForm.controls['mobileNumber'].errors?.['pattern']" style="color: red;">Please enter a valid Mobile Number.</div>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td>Date Of Join</td>
                    <td><input type="date" name="doj" ngModel /> </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <select name="country"  ngModel>
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td>Email-Id</td>
                  <td>
                      <input type="email" name="emailId" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
                      <div class="error-message" *ngIf="regForm.controls['emailId'].invalid && (regForm.controls['emailId'].dirty || regForm.controls['emailId'].touched)">
                          <div *ngIf="regForm.controls['emailId'].errors?.['required']" style="color: red;">Email is required.</div>
                          <div *ngIf="regForm.controls['emailId'].errors?.['pattern']" style="color: red;">Please enter a valid Email.</div>
                      </div>
                  </td>
              </tr>
              <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^])[A-Za-z\d@$!%*?&^]{8,}$" />
                    <div class="error-message" *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)">
                        <div *ngIf="regForm.controls['password'].errors?.['required']" style="color: red;">Password is required.</div>
                        <div *ngIf="regForm.controls['password'].errors?.['pattern']" style="color: red;">Password must be at least 8 characters, include 1 uppercase, 1 lowercase, 1 numeric, and 1 special character.</div>
                    </div>
                </td>
              </tr>
              <tr>
                <td>Department</td>
                <td>
                <select name="department" ngModel>
                  <option value="" selected>Select Department</option>
                  <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>
                </select>
                </td>
              </tr>
                <tr>
                  <td></td>
                  <td><button [disabled]="!regForm.valid">Register</button> Already User? <a routerLink="//login">SignIn</a> </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>