/* Add your global styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  .label-container {
    margin-bottom: 8px;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
  }
  
  input,
  select,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type="date"] {
    /* Customize date input appearance */
  }
  
  .error-message {
    color: #d9534f;
    font-size: 12px;
    margin-top: 4px;
  }
  
  button {
    background-color: #428bca;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  a {
    text-decoration: none;
    color: #428bca;
  }
  
  a:hover {
    text-decoration: underline;
  }
  